
<div class="contact">
     <div id="loginbox">
         <div class="panel panel-success" >
                 <div class="panel-heading">
                     <div class="panel-title">Contáctanos</div>
                     <div style="float:right; font-size: 80%; position: relative; top:-10px"> Santiago y Regiones </div>
                 </div>
                 <div style="padding-top:30px" class="panel-body" >
                     <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                     <form class="form-horizontal contact-form" role="form" action="http://www.chileforma.cl/ch/to_contacto" accept-charset="utf-8" id="frmContacto" method="POST">
                           <div  >
                             <label class="control-label">Nombre</label>
                             <div class="controls">
                               <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control">
                             </div>
                           </div>
                           <div  >
                             <label class="control-label">Mail</label>
                             <div class="input-group">
                               <span class="input-group-addon">@</span>
                               <input class="form-control" id="mail" type="text" name="mail">
                             </div>
                           </div>
                           <div  >
                             <label class="control-label">Telefono</label>
                             <div class="controls">
                               <input type="text" placeholder="Telefono" class="form-control"  name="telefono">
                             </div>
                           </div>
                           <div  >
                             <label class="control-label">Comentarios</label>
                             <div class="controls">
                               <textarea rows="3" class="form-control" name="comentarios" ></textarea>
                             </div>
                           </div>
                            <div style="padding:15px">
                                <button  type="button" class="btn btn-large btn-block btn-primary"> Solicitar Cotización</button>
                            </div>
                            </div>
                     </form>
             </div>
         </div>
    </div>
</div>
