<div>
    <button class="btn btn-primary" ng-click="addTaskButton()">Add new task</button>
</div>

<hr />

<strong>
<div class="row" style="text-align:center;">
	<div class="col-md-1">SR NO.</div>
	<div class="col-md-4">TASK</div>
	<div class="col-md-2">STATUS</div>
    <div class="col-md-1">OKAY?</div>
    <div class="col-md-1">EDIT</div>
</div>
</strong>

<br>

<div class="row" ng-repeat="task in taskData" style="padding: 5px 5px 5px 5px; text-align:center;">
	<div class="col-md-1">{{ task.id }}</div>
	<div class="col-md-4">{{ task.taskTitle }}</div>
	<div class="col-md-2">{{ task.check | checkStatus}}</div>
    <div class="col-md-1" >
        <input ng-show="!task.showDisabled" type="checkbox"  ng-click="doneTask(task.id)" />
    </div>
    <div class="col-md-1">
    	<button class="btn btn-warning" ng-click="editTaskButton(task.id);">Edit</button>
    </div>

</div>
