<div class="col-md-offset-3 col-md-6">
	<div class="panel panel-primary">
		<div class="panel-heading">
			Paso 2 / Ya estamos casi listos {{usuario.nombre}}...
		</div>
		<div class="panel-body">
		<form name="formPaso2" novalidate>
			<input type="text" ng-pattern="/^[0-9]*$/" ng-model="usuario.contacto" class="form-control " name="contacto" placeholder="Telefono"  autofocus="" />
			<br>
	  		<input type="text" ng-model="usuario.universidad" class="form-control " name="universidad" placeholder="Universidad" required="" autofocus="" />
	  		<br>
	  		<input type="checkbox" ng-model="usuario.militar" value="Si"> Servicio Militar
	  		<br>
	  		<br>
	  		<input type="number" ng-model="usuario.edad" ng-pattern="/^[0-9]*$/" class="form-control" name="edad" placeholder="Edad" 
	  		 autofocus="" />
			<div class="clear"></div>
			<hr>
	  		

	  		<span class="alert alert-danger" ng-show="!formPaso2.$valid">
				Verifique los siguientes campos: <b ng-show="!formPaso2.universidad.$valid">[Universidad]</b> <b ng-show="!formPaso2.edad.$valid">[Edad]</b> <b ng-show="!formPaso2.contacto.$valid && formPaso2.contacto.$dirty">[Telefono]</b>
	  		</span>
	  		<span class="alert alert-success" ng-show="formPaso2.$valid">
				Formulario validado correctamente.
	  		</span>

	  		<button class="btn btn-primary pull-right" ng-click="Siguiente()" ng-disabled="!formPaso2.$valid">Siguiente</button>
	  		<button class="btn btn-primary pull-right" ng-click="Volver()" ng-disabled="!formPaso2.$valid">Volver</button>

		</form>
		</div>
	</div>
</div>