<div class="login-box">
    <div class="login-logo">
      <img ng-src="{{imagePath}}logo.png" alt="logo" style="height:130px"/>
  </div><!-- /.login-logo --> 
    <div class="login-box-body">
      <p class="login-box-msg">Ingrese datos de sesión <span ng-if="isError" style="color:red">(Error al ingresar)</span></p>
      <form novalidate>
          <div class="form-group has-feedback {{isError?'has-error': ''}}">
            <div class="row">
                <div class="col-xs-8"> <input type="text" ng-model="user.run" class="form-control " placeholder="Run" ng-blur="onBlurRun()"> </div>
                <div class="col-xs-1"> <span style="padding:0px;margin:0px">-</span> </div>
                <div class="col-xs-2"> <input style="padding: 1px 2px;" type="text" ng-model="user.digito" class="form-control " placeholder=""> </div>
            </div> 
             
          </div>
          <div class="form-group has-feedback {{isError?'has-error': ''}}">
              <input type="password" ng-model="user.password" class="form-control " placeholder="Password">
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <!--div class="col-xs-8">
              <div class="checkbox icheck">
                <label>
                  <input type="checkbox" ng-model="rememberMe" icheck> Recordarme
                </label>
              </div>
            </div--><!-- /.col -->
              <div class="col-xs-4 ">
                  <button ng-click="login(user)" class="btn btn-primary btn-block btn-flat {{isCargando?'whirl whirl-min duo':''}}" ng-disabled="isCargando">Ingresar</button>
              </div><!-- /.col -->
          </div>
      </form>

        <!-- <div class="social-auth-links text-center">
          <p>- OR -</p>
          <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using Facebook</a>
          <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using Google+</a>
        </div> --><!-- /.social-auth-links -->

        <!--a href="#">Olvidé mi contraseña</a--><br>
        <!--a href="register.html" class="text-center">Register a new membership</a-->

    </div><!-- /.login-box-body -->
</div><!-- /.login-box -->
